.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border-radius: 2px;
    padding: 10px;
    margin: 0px 20px;

}

.logo{
    width: 100px;
}
.nav-items{
    align-items: flex-end;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    
}
.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;

}

.res-card{
    width: 200px;
    height: 450px;
    padding: 5px;
    margin : 5px 10px;

}
.res-card:hover{
    border: 1.5px solid black;
    cursor: pointer;

}
.search-bar{
    margin: 10px 20px;
}
.food-logo{
    width: 100%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    position: relative;
    left: 10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login{
    padding: 0px 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.search{
    margin: 10px;
    position: relative;
    left: 10px;

}
.food-logo{
    height: 40%;
    width: 100%;
}